<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <a href="#/reportLink">
    <div class="blockHome col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label class="blockHomeLabel"> Get Report link</label>
      <img class="blockHomeImg" src="https://c1.staticflickr.com/2/1482/24588096069_59a0513790_z.jpg" alt="" />
    </div>
  </a>
  <a href="#/home">
    <div class="blockHome col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label class="blockHomeLabel"> Get Report link by user</label>
      <img class="blockHomeImg" src="https://c1.staticflickr.com/2/1482/24588096069_59a0513790_z.jpg" alt="" />
    </div>
  </a>
  <a href="#/home">
    <div class="blockHome col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label class="blockHomeLabel">Get Report link by Product</label>
      <img class="blockHomeImg" src="https://c1.staticflickr.com/2/1482/24588096069_59a0513790_z.jpg" alt="" />
    </div>
  </a>
  <a href="#/home">
    <div class="blockHome col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <label class="blockHomeLabel">Get Report link by Brand</label>
      <img class="blockHomeImg" src="https://c1.staticflickr.com/2/1482/24588096069_59a0513790_z.jpg" alt="" />
    </div>
  </a>
</div>
